$theme-color: cyan;

html {
  body {
    background-image: linear-gradient(-90deg, #000428, #004e92, #000428);

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  body::-webkit-scrollbar {
    display: none;
  }
}

form {
  background-color: azure;
}

h1 {
  color: white;
}

.icon {
  height: 15px;
  width: 15px;
  object-fit: contain;
}

.table {
  border-radius: 0.8rem;
  overflow: hidden;

  thead {
    background-color: $theme-color;
  }
  tbody {
    background-color: azure;
  }
}

// SPINNER
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.disable {
  opacity: 0.5;
}
.home,
.login,
.signup {
  height: 100vh;
}
